/* mansalva-regular - latin */
@font-face {
  font-family: 'Mansalva';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/mansalva-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/mansalva-v4-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/mansalva-v4-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/mansalva-v4-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/mansalva-v4-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/mansalva-v4-latin-regular.svg#Mansalva') format('svg'); /* Legacy iOS */
}
